body {
	background-color: rgba(255,255,251,1);/* GOFUN */
	color: #FFFFFB;; /* NIBI */
}

a {
  color: #7BA23F;
}

a::after {
	background-color: #080808; /* KURO */
}

/* main color schema */
.akabeni {
	color: #CB4042;
}

.sora {
	color: #58B2DC;
}

.moegi {
  color: #7BA23F;
}
