@charset "UTF-8";

html {
	font-size: 62.5%;
}

*, *::before, *::after {
	box-sizing: border-box;
}

body {
	text-align: center;
	font-size: 1.8rem;
	font-family: 'Telex', "Hiragino Kaku Gothic ProN", Meiryo, san-serif;
}

a {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: none;
	position: relative;
	display: inline-block;
}

ol, ul {
  list-style: none;
}

img {
    border: 0;
}
