@import "variables.less";

@keyframes yay {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  50% {
    transform: rotate(40deg) translate(50%, -20%);
    opacity: 0;
  }
  100% {
    transform: rotate(40deg) translate(100%, -20%);
    opacity: 0;
  }
}

@keyframes nope {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  50% {
    transform: rotate(-40deg) translate(-50%, -20%);
    opacity: 0;
  }
  100% {
    transform: rotate(-40deg) translate(-100%, -20%);
    opacity: 0;
  }
}

.container{
  position: relative;
}

.flick{
  position: absolute;
  overflow: hidden;
}

.flick.yay{
  animation: yay 0.25s ease-out;
  transform: translateX(100%);
}
.flick.nope{
  animation: nope 0.25s ease-out;
  transform: translateX(-100%);
}

.first .nopearrow,
.first .yayarrow{
  display: flex;
}

.flick.yay .nopearrow,
.flick.nope .yayarrow{
  display: none;
}

.nopearrow,
.yayarrow{
  display: none;
  border-radius: 50%;
  opacity: 0.7;
  position: absolute;
  top: 50%;
  width: 200px;
  height: 200px;
  color: white;
  transform: translateY(-50%);
  font-size: 2em;
  flex-direction: column;
  justify-content: center;
}

.nopearrow img,
.yayarrow img{
  width: 50px;
}

.nopearrow{
  left: -100px;
  background-color: #ef5318;
}
.yayarrow{
  right: -100px;
  background-color: #41ad6c;
}

.nopearrow .note{
  transform: translateX(25%);
}

.yayarrow .note{
  transform: translateX(-25%);
}

@keyframes slideup {
  0% {
    transform: translateY(100%);
    opacity: 0.2;
  }
  100% {
    transform: translateY(0%);
    opacity: 0.8;
  }
}

@keyframes yaynotify {
  0% {
    transform: translateY(-50%);
    opacity: 0.8;
  }
  100% {
    transform: translateY(-60%);
    opacity: 0;
  }
}
@keyframes nopenotify {
  0% {
    transform: translateY(-50%);
    opacity: 0.8;
  }
  100% {
    transform: translateY(-40%);
    opacity: 0;
  }
}

.yaynotify,
.nopenotify {
  position: absolute;
  top: -5000px;
  z-index: 8000;
}

.yaynotify {
  animation: yaynotify 5s ease-out;
  background-color: #41ad6c;
  right: 20px;
}

.nopenotify {
  animation: nopenotify 5s ease-out;
  background-color: #ef5318;
  left: 20px;
}
