@import "variables.less";

.header{
  padding: 80px 30px 380px;
	min-height: 360px;
	background-image: url(../images/spot4u-top.gif);
  background-size: cover;
	background-position: center;
	width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.composer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.description{
  margin-bottom: 20px;
	font-size: 2.0rem;
}

.button {
	display: inline-block;
	width: 250px;
	padding: 20px;
	border-radius: 4px;
	color: #fff;
	text-decoration: none;
	letter-spacing: 1px;
  opacity: 0.9;
	font-size: 2.2rem;
  background-color: #080808; /* KURO */
  margin: 10px;
}

.button:hover {
  opacity: 1;
}



@media (max-width: 768px) {
  .header {
    padding-top: 60px;
  }
}
